
@{
    ViewBag.Title = "ListReviews";
}

@Styles.Render("~/Content/Site.css")
<h2 style="text-align: center; font: bold; font-size: 4vh;" class="ch-txt2">Yorumlar</h2>

<table class="table table-hover" style="background-color:#7c80c1; border:solid; border-color:#1a1157">
    <thead style="color:#1a1157; font-weight:bold; font-size:larger;">
        <tr>
            <td>
                Yorum ID
            </td>
            <td>
                Ürün Adı
            </td>
            <td>
                Kullanıcı Adı
            </td>
            <td>
                İsim
            </td>
            <td>
                Yorum
            </td>
            <td>
                Ürün Oyu
            </td>
            <td>
                Yorum Tarihi
            </td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in TempData["ReviewList"] as IEnumerable<MVCeTicaretRasim.Models.Review>)
            {
                <tr style="color:rgba(48, 44, 98, 0.91); font-weight:bold;">
                    <td style="border-color:#1a1157">
                        @item.ReviewID
                    </td>
                    <td style="border-color:#1a1157">
                        @item.Product.ProductName
                    </td>
                    <td style="border-color:#1a1157">
                        @item.Customer.UserName
                    </td>
                    <td style="border-color:#1a1157">
                        @item.Name
                    </td>
                    <td style="border-color:#1a1157;">
                        <textarea rows="3" readonly style=" background-color:#7c80c1; border-color:#1a1157; border:double; overflow:auto; max-height:10vh; min-height:7vh; max-width:25vh; min-width:20vh;">@item.Reviews</textarea>
                    </td>
                    <td style="border-color:#1a1157">
                        @item.Rates <span class="glyphicon glyphicon-star" ></span>
                    </td>
                    <td style="border-color:#1a1157">
                        @item.DateTime
                    </td>
                </tr>

            }
        }
    </tbody>
</table>
